.profile-header__temp {
  display: flex;
  height: 150px;
  width: 100vw;
}

.profile-header__temp div {
  height: 100%;
  width: 100%;
}

.profile-header__temp__flexDiv h2 {
  position: absolute;
  left: 30px;
  top: 100px;
}

.profile-header__temp img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.profile-main {
  height: 100%;
  flex: auto;
  background-color: rgb(245, 227, 203);
}

.listItems {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.forSale {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  /* margin: 1em auto; */
}
.itemsColumn {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.imgDiv {
  margin: 1em;
  height: 300px;
  width: 300px;
}
.descriptionDiv {
  margin: 1em;
}

.descriptionDiv p {
  font-weight: 600;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
