
.aside {
    display: flex;
    width: 50%;
    background-color:lightgoldenrodyellow;
    flex-direction: column;
    height: 60vh;
    outline: 1px solid red;
} 

.search {
    outline: 1px solid red;
    position: relative;
    width: 100%;
    border-radius: 4;
    height:30px;
}
.searchIcon {
    outline: 1px solid red;
    position: absolute;
    left: 30px;
    top: 1px;
    
}

#ip2 {
    outline: 1px solid red;
background-color:rgb(245, 241, 241);
    padding: 2%; 
    width: 100%;
    height: 40px;
}

