.main {
  display: grid;
  /* height: 70vh; */
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 10vh 90vh;
  gap: 1em;
}
.one {
  /* grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; */
}
.two {
  width: 20vw;
  /* height: 80vh; */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background: blue;
  border-radius: 3%;
  color: white;
  margin: 5px 0 0 2px;
}
.three {
  display: flex;
  border-radius: 3%;
  background: rgb(243, 238, 238);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
