

.main {
  display: grid;
  /* height: 70vh; */
   /* grid-template-columns: 20vw 80vw; 
  grid-template-rows: 10vh 90vh;  */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh repeat(12, minmax(100px,1fr));
  gap: 1em; 
  
}
.one {
  /* grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; */
}
.aside {
  width: 20vw; 
  /* grid-column: 1 / 1;
  grid-row: 1/ 1;*/
  grid-row: 1/-1;
  background-color: rgba(250, 248, 233, 0.925);
  color: black;
  /* border-right: 1px solid black; */
  margin: 0px 0 0 2px; 
}

.banner {
  grid-column: 2/ span last-line;
  grid-row: 1 /1;
  
  
}
.three {
  /* margin-top: 5px; */
  display: flex;
  grid-column: 2/-1;
  grid-row: 2;
  background-color: rgb(255 251 235);
  flex-direction: row;
  flex-wrap: wrap; 
  justify-self: auto;
  
}

.category {
 flex-basis: 100%;
 margin-left: 20px;
}