body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: rgb(252 211 77);
  height: 20%;
}

.header_nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header_title {
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(100 56 16);
  margin: 20px;
}

.header_login-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.header_login-form_div {
  margin: 10px;
}

.header_login-form_div .input {
  padding: 0.5rem;
  border-radius: 5px;
  border: rgb(163, 163, 163);
  font: inherit;
  margin: 0;
}

.header_login-form_div .input:focus {
  outline: none;
  background: rgba(246, 244, 221, 0.95);
}
.header_login-form_div:hover {
  border: 1px solid #18ab29;
  border-radius: 5px;
}
::placeholder {
  color: rgb(245, 151, 84, 0.7);
}

/* button*/
.button {
  appearance: button;
  background-color: #063df0;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #063df0;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  /* align-items: center; */
  margin: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button {
  font-size: 15px;
  font-family: Arial;
  width: 90px;
  height: 40px;
  border-width: 1px;
  color: #fff;
  border-color: #18ab29;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px #2f6627;
  background: #44c767;
}

.button:hover {
  background: #5cbf2a;
}

.button:focus:not(:focus-visible),
.button:focus {
  outline: 0;
}

.nameLogout {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  align-items: center;
}

/* .button:hover {
  background-color: #3733e5;
  border-color: #3733e5;
} 

.button:focus {
  background-color: #413fc5;
  border-color: #3e3bba;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button:active {
  background-color: #3e3bba;
  background-image: none;
  border-color: #3a38ae;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
} */

.button:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}
